<!DOCTYPE html>
<div style="text-align: center">
    <h1>
      Deep learning to classify X-ray images to covid and Non-covid </title>
    </h1>
    <h3>
      Upload X-ray image
    </h3>
    <div>
      {{name}}
    </div> 
    <form method="POST", action="/predict" enctype="multipart/form-data">
       <input name="album" type="file"/>
       <div>
         <button type="submit"style="margin: 16px"
           Deep learning to classify X-ray images to covid and Non-covid
         </button>
       </div>
    </form>
</div>  
